<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/images/恐龙.ico">
    <title>DinosaurHomePage</title>
    <link rel="stylesheet" href="/static/styles/normalize.min.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />
</head>
<body>
    <div class="slz">
    </div>
<div class="banner">
    <h3 class="banner__title">Please log in to your account first</h3>
    <a href="/" class="banner__link">Get Started</a>
</div>
<div class="slz">

</div>
<script src="/static/scripts/script.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
</body>
</html>
