<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NFT</title>
    <link rel="stylesheet" href="/static/styles/normalize.min.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>
  <body>
    <header class="header">
      <a href="#" class="header__logo"></a>
      <div class="form">
        <button class="form__button"></button>
        <input
          class="form__input"
          type="search"
          placeholder="Search items and collections"
        />
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="#" class="header__link">Collections</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Feature</a>
          </li>
          <li class="header__item"><a href="#" class="header__link">FAQ</a></li>
          <li class="header__item">
            <a href="#" class="header__link header__link_gradient"
              >Select Wallet</a
            >
          </li>
        </ul>
      </nav>
      <div class="header__buttons">
        <button class="header__search"></button>
        <button class="header__menu"></button>
      </div>
    </header>
    <div class="container">
      <section>
        <div class="main">
          <div class="main__text">
            <h1 class="main__title">
              WELCOME TO OUR
              DINOSAUR FACTORY
            </h1>
            <p class="main__desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
              ratione nam molestias.
            </p>
            <a class="main__btn main__btn_gradient" href="#">Explore Now</a>
            <a class="main__btn" href="#">Sell NFT</a>
            <ul class="main__list">
              <li class="main__item">
                <span class="main__span">37k+</span>Artworks
              </li>
              <li class="main__item">
                <span class="main__span">20k+</span>Artists
              </li>
              <li class="main__item">
                <span class="main__span">99k+</span>Auctions
              </li>
            </ul>
          </div>
          <div class="main__image">
            <img class="main__img" src="/static/images/gallery.png" alt="Gallery" />
          </div>
        </div>
        <div class="company">
          <img class="company__img" src="/static/images/binance.svg" alt="Binance" />
          <img class="company__img" src="/static/images/ethereum.svg" alt="Ethereum" />
          <img
            class="company__img"
            src="/static/images/blockchain.svg"
            alt="Blockchain"
          />
        </div>
      </section>
      <section>
        <h2 class="title">Featured Artworks</h2>
        <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        <div class="card">
          <div class="card__item">
            <div class="card__cover">
              <img class="card__img" src="/static/images/image01.png" alt="" />
            </div>
            <div class="card__info">
              <div>
                <p class="card__nick">@Johny</p>
                <p class="card__author">Yellow Painting</p>
              </div>
              <p class="card__bid">
                Current Bid <span class="card__price">0.005ETH</span>
              </p>
            </div>
            <a class="card__link" href="#">Place A Bid</a>
          </div>
          <div class="card__item">
            <div class="card__cover">
              <img class="card__img" src="/static/images/image02.jpeg" alt="" />
            </div>
            <div class="card__info">
              <div>
                <p class="card__nick">@Johny</p>
                <p class="card__author">Yellow Painting</p>
              </div>
              <p class="card__bid">
                Current Bid <span class="card__price">0.005ETH</span>
              </p>
            </div>
            <a class="card__link" href="#">Place A Bid</a>
          </div>
          <div class="card__item">
            <div class="card__cover">
              <img class="card__img" src="/static/images/image03.png" alt="" />
            </div>
            <div class="card__info">
              <div>
                <p class="card__nick">@Johny</p>
                <p class="card__author">Yellow Painting</p>
              </div>
              <p class="card__bid">
                Current Bid <span class="card__price">0.005ETH</span>
              </p>
            </div>
            <a class="card__link" href="#">Place A Bid</a>
          </div>
        </div>
      </section>
      <section>
        <h2 class="title">Freaquently Asked Questions</h2>
        <p class="desc">Wanna Ask Something?</p>
        <div class="faq">
          <div class="faq__item">
            <button class="collapsible">Lorem, ipsum dolor.</button>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <button class="collapsible">Lorem, ipsum dolor.</button>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <button class="collapsible">Lorem, ipsum dolor.</button>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <button class="collapsible">Lorem, ipsum dolor.</button>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <button class="collapsible">Lorem, ipsum dolor.</button>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <button class="collapsible">Lorem, ipsum dolor.</button>
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </section>
      <div class="banner">
        <h3 class="banner__title">Get ready to collect our NFT</h3>
        <a href="#" class="banner__link">Get Started</a>
      </div>
    </div>
    <script src="/static/scripts/script.js"></script>
  </body>
</html>
