<!DOCTYPE html>
<html lang="en">
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/images/恐龙.ico">
    <title>DinosaurHomePage</title>
    <link rel="stylesheet" href="/static/styles/normalize.min.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />

</head>
<body>
<header class="header">
    <a href="/" class="header__logo"></a>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__item">
                <a href="#" class="header__link" th:href="@{/}">Home</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link" th:href="@{/market}">Market</a>
            </li>
            <li class="header__item">
                <a href="#" id="walletButton" class="header__link header__link_gradient">Connect Wallet</a>
            </li>
        </ul>
    </nav>
    <div class="header__buttons">
        <button class="header__search"></button>
        <button class="header__menu"></button>
    </div>
</header>
<section>
    <h1>Your personal Info</h1>
</section>
<section>
    <h2 class="title">Your Dinosaur   Eggs</h2>
    <div class="card" style="display: flex;flex-wrap: wrap">
        <div class="card__item" th:each="dinosaurEgg:${eggInfo}">
            <div class="card__cover">
                <img class="card__img"  alt="" th:src="@{'/static/images/'+${dinosaurEgg.getEggPhotoURI()}+'.jpeg'}" />
            </div>
            <div class="card__info">
                <div>
                    <p class="card__nick" th:text="${dinosaurEgg.getEggId().substring(0,10)}"></p>
                    <p class="card__author" th:text="${dinosaurEgg.isHatched()}"></p>
                </div>
            </div>
            <a class="card__link" href="#">Place A Bid</a>
        </div>
    </div>
</section>


<section>
    <h2 class="title">Your Dinosaur</h2>
    <div class="card" style="display: flex;flex-wrap: wrap">
        <div class="card__item">
            <div class="card__cover">
                <img class="card__img" src="/static/images/image01.png" alt="" />
            </div>
            <div class="card__info">
                <div>
                    <p class="card__nick">fuck</p>
                    <p class="card__author">Yellow Painting</p>
                </div>
            </div>
            <a class="card__link" href="#">Place A Bid</a>
        </div>
        <div class="card__item">
            <div class="card__cover">
                <img class="card__img" src="/static/images/image02.png" alt="" />
            </div>
            <div class="card__info">
                <div>
                    <p class="card__nick">@Johny</p>
                    <p class="card__author">Yellow Painting</p>
                </div>
            </div>
            <a class="card__link" href="#">Place A Bid</a>
        </div>
        <div class="card__item">
            <div class="card__cover">
                <img class="card__img" src="/static/images/image03.png" alt="" />
            </div>
            <div class="card__info">
                <div>
                    <p class="card__nick">@Johny</p>
                    <p class="card__author">Yellow Painting</p>
                </div>
                <p class="card__bid">
                    Current Bid <span class="card__price">0.005ETH</span>
                </p>
            </div>
            <a class="card__link" href="#">Place A Bid</a>
        </div>
        <div class="card__item">
            <div class="card__cover">
                <img class="card__img" src="/static/images/image04.png" alt="" />
            </div>
            <div class="card__info">
                <div>
                    <p class="card__nick">@Johny</p>
                    <p class="card__author">Yellow Painting</p>
                </div>
                <p class="card__bid">
                    Current Bid <span class="card__price">0.005ETH</span>
                </p>
            </div>
            <a class="card__link" href="#">Place A Bid</a>
        </div>
        <div class="card__item">
            <div class="card__cover">
                <img class="card__img" src="/static/images/image05.png" alt="" />
            </div>
            <div class="card__info">
                <div>
                    <p class="card__nick">@Johny</p>
                    <p class="card__author">Yellow Painting</p>
                </div>
                <p class="card__bid">
                    Current Bid <span class="card__price">0.005ETH</span>
                </p>
            </div>
            <a class="card__link" href="#">Place A Bid</a>
        </div>
        <div class="card__item">
            <div class="card__cover">
                <img class="card__img" src="/static/images/image06.png" alt="" />
            </div>
            <div class="card__info">
                <div>
                    <p class="card__nick">@Johny</p>
                    <p class="card__author">Yellow Painting</p>
                </div>
                <p class="card__bid">
                    Current Bid <span class="card__price">0.005ETH</span>
                </p>
            </div>
            <a class="card__link" href="#">Place A Bid</a>
        </div>
    </div>
</section>
<div>
</div>
<div class="container">
    <section>
        <div class="main">
            <div class="main__text">
            </div>
        </div>
        <div class="company">
        </div>
    </section>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/scripts/personScript.js"></script>
<script src="/static/scripts/script.js"></script>
</body>
</html>
