<!DOCTYPE html>
<html lang="en">
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/images/恐龙.ico">
    <title>DinosaurHomePage</title>
    <link rel="stylesheet" href="/static/styles/normalize.min.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />

</head>
<body>
<header class="header">
    <a href="/" class="header__logo"></a>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__item">
                <a href="#" class="header__link" th:href="@{/}">Home</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link" th:href="@{/market}">Market</a>
            </li>
            <li class="header__item">
                <a href="#" id="walletButton" class="header__link header__link_gradient">Connect Wallet</a>
            </li>
        </ul>
    </nav>
    <div class="header__buttons">
        <button class="header__search"></button>
        <button class="header__menu"></button>
    </div>
</header>
<section>
    <h1>Your personal Info</h1>
</section>
<section>
    <h2 class="title">你的恐龙蛋</h2>
    <div class="card" style="display: flex;flex-wrap: wrap">
        <div  class="card__item" th:each="dinosaurEgg, iterStat : ${eggInfo}">
            <p id="cardInfo"  class="card__nick" th:text="${iterStat.index}"></p>
            <div class="card__cover">
                <img class="card__img" th:src="@{'/static/images/'+${dinosaurEgg.getEggPhotoURI()}+'.jpeg'}" />
            </div>
            <div class="card__info">
                <div>
                    <p th:text="${'eggID:'+dinosaurEgg.getEggId().substring(0,16)}"></p>
                    <p class="card__author" th:text="${'isHatched:'+dinosaurEgg.isHatched()}"></p>
                </div>
            </div>
            <a class="egg__link hatch-button" href="javascript:void(0)" onclick="HatchTheDinosaur(this.dataset.index)" th:data-index="${iterStat.index}">Hatch</a>
        </div>
    </div>
</section>

<section>
    <h2 class="title">Your Dinosaur</h2>
    <div class="card" style="display: flex;flex-wrap: wrap">
        <div class="card__item" th:each="dinosaur:${dinosaurInfo}">
            <div class="card__cover">
                <img class="card__img" th:src="@{'/static/images/dinosaurImage/'+${dinosaurInfo.getDinosaurPhotoUri()}+'.jpeg'}" alt="" />
            </div>
            <div class="card__info">
                <div>
                    <p class="card__nick" id="DinosaurId" th:text="${'DinosaurId:'+dinosaurInfo.getDinosaurId().substring(0,16)}"></p>
                    <p class="card__author" th:text="${'DinosaurSex:'+dinosaurInfo.getDinosaurSex()}"></p>
                    <p class="card__author" th:text="${'DinosaurRarity:'+dinosaurInfo.getDinosaurRarity()}"> </p>

                </div>
            </div>
            <button class="card__link" onclick="upLoadTheMarket()" >Place A Bid</button>
        </div>
    </div>
</section>
<div>
</div>
<div class="container">
    <section>
        <div class="main">
            <div class="main__text">
            </div>
        </div>
        <div class="company">
        </div>
    </section>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/scripts/personScript.js"></script>
<script src="/static/scripts/script.js"></script>
</body>
</html>
