<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/static/images/恐龙.ico">
    <title>DinosaurHomePage</title>
    <link rel="stylesheet" href="/static/styles/normalize.min.css"/>
    <link rel="stylesheet" href="/static/styles/style.css"/>
    <style type="text/css">
        h3{
            font: 96px "华文彩云"; /*设置字体和字体大小*/
            margin:50px auto; /*设置元素外边距*/
            font-weight: 500; /*设置字体粗细*/
            text-align: center; /*设置文字居中*/
            color: white;
            -webkit-animation:bounce 4s infinite;/*设置动画*/
        }
        @-webkit-keyframes bounce{/*创建动画*/
            0%,100%,20%,50%,80%{
                -webkit-transform:translateY(0);
            }40%{
                 -webkit-transform:translateY(-30px);
             }60%{
                  -webkit-transform:translateY(-15px);
              }
        }
    </style>
</head>
<body>
<header class="header">
    <a href="/" class="header__logo"></a>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__item">
                <a href="#" class="header__link" th:href="@{/}">Home</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link" th:href="@{/market}">Market</a>
            </li>
            <li class="header__item">
                <a href="#" id="walletButton" class="header__link header__link_gradient">Connect Wallet</a>
            </li>
        </ul>
    </nav>
    <div class="header__buttons">
        <button class="header__search"></button>
        <button class="header__menu"></button>
    </div>
</header>
<section>
    <div><h3>Your World</h3>
        <p style="font-family: 华文琥珀;font-size: xx-large;text-align: center;  ">Your Dinosaur Egg</p>
    </div>
</section>
<section>
    <div class="card" style="display: flex;flex-wrap: wrap">
        <div class="card__item" th:each="dinosaurEgg, iterStat : ${eggInfo}">
            <p id="cardInfo" class="card__nick" th:text="${iterStat.index}"></p>
            <div class="card__cover">
                <img class="card__img" th:src="@{'/static/images/'+${dinosaurEgg.getEggPhotoURI()}+'.jpeg'}"/>
            </div>
            <div class="card__info">
                <div>
                    <p th:text="${'eggID:'+dinosaurEgg.getEggId().substring(0,16)}"></p>
                    <p class="card__author" th:text="${'isHatched:'+dinosaurEgg.isHatched()}"></p>
                </div>
            </div>
            <a class="egg__link hatch-button" href="javascript:void(0)" onclick="HatchTheDinosaur(this.dataset.index)"
               th:data-index="${iterStat.index}">Hatch</a>
        </div>
    </div>
</section>

<section>
    <div class="banner" id="dinosaurBanner">
        <h3 class="banner__title">
            Click to get your dinosaur
        </h3>
        <a class="banner__button" onclick="getTheDinosaurInfo()">Get Started</a>
    </div>
    <div>
        <p style="font-family: 华文琥珀;font-size: xx-large;text-align: center;  ">Your Dinosaur</p>
        <div class="card" style="display: flex;flex-wrap: wrap">
            <div class="card__item" th:each="dinosaur:${dinosaurInfo}">
                <div class="card__cover">
                    <img alt="" class="card__img"
                         th:src="@{'/static/images/dinosaurImage/'+${dinosaur.getDinosaurPhotoUri()}+'.jpeg'}"/>
                </div>
                <div class="card__info">
                    <div>
                        <p class="card__nick" th:text="${'DinosaurId:'+dinosaur.getDinosaurId().substring(0,16)}"></p>
                        <p class="card__author" th:text="${'DinosaurSex:'+dinosaur.getDinosaurSex()}"></p>
                        <p class="card__author" th:text="${'DinosaurRarity:'+dinosaur.getDinosaurRarity()}"></p>
                    </div>
                </div>
                <div class="nft__bid-container">
                    <a class="nft__bid-btn nft__bid-btn--primary" data-text="Upload" href="javascript:void(0)" onclick="uploadTheDinosaur()" data-dinosaur-id="dinosaur.getDinosaurId()">Upload</a>
                    <a class="nft__bid-btn nft__bid-btn--secondary" href="javascript:void(0)" onclick="">Mating</a>
                </div>
            </div>


            <!-- 弹出框 -->
            <div class="modal" id="modal">
                <div class="modal-content">
                    <span class="close" id="close">&times;</span>
                    <div class="modal-body">
                        <section>
                            <h2 class="title" id="confirm_Text" style="font-size: x-large "></h2>
                            <div class="card" style="justify-content:center ;align-items:center">
                                <div class="card__item" id="dinosaurInfo" style="">
                                    <a style="font-size: large">Your Dinosaur</a>
                                    <div id="confirmText"></div>
                                </div>
                            </div>
                        </section>
                        <div class="input-container">
                            <div class="price-input-container">
                                <input type="text" class="price-input" style="" placeholder="Enter price"/>
                            </div>
                            <button id="modifyPriceBtn">Modify price</button> <!-- 确定修改按钮 -->
                        </div>
                        <button id="confirmBtn" onclick="uploadTheDinosaur()">Confirm</button>
                        <button id="cancelBtn">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section>
        <div class="main">
            <div class="main__text">
            </div>
        </div>
        <div class="company">
        </div>
    </section>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/scripts/personScript.js"></script>
<script src="/static/scripts/script.js"></script>
</body>
</html>
